/* dee5e5 - platinum
090b0b - night
#BB2D3B - saar red */
*{
margin: auto;
font-family: 'Urbanist', sans-serif;
}

body{
    background-color: #dee5e5;
}

#logo{
    padding: 20px;
    padding-left: 40px;
    display: block;
}

#home_img{
    width: 100%;
}

.navbar{
    background-color: #dee5e5;
    overflow: hidden;
}

.navlinks{
    margin-right: 40px;
    display: flex;
}

.navlinks a{
    float: left;
    color:#090b0b;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    border-bottom-color:#dee5e5;
    border-bottom-style: solid;
}

.navlinks .dropdown-content a{
    border-bottom-color:#F4F6F6;
    border-bottom-style: solid;
}

.dropdown{
    overflow: hidden;
}

.dropdown .dropbtn{
    font-size: 20px;
    border: none;
    outline: none;
    color: #090909;
    background: inherit;
    margin: 0;
    padding: 14px 16px;
    border-bottom-color:#dee5e5;
    border-bottom-style: solid;
}

.navlinks a:hover, .dropdown:hover .dropbtn{
    border-bottom-color:#BB2D3B;
    border-bottom-style: solid;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #F4F6F6;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a:hover{
    border-bottom-color:#BB2D3B;
    border-bottom-style: solid;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.title-screen{
    position: relative;
    text-align:center;
}

.title h1{
    font-size: 4vw;
}

.title p{
    font-size: 2vw;
    padding: 10px;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    /* border-color: #BB2D3B;
    border-style:solid; */
    background-color: rgba(187,45,59,0.8);
    color: white;
    width:80%;
}